header {
    height: 10vh;
    width: 100vw;
    background-color: lightseagreen;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.title{
    width: 300px;
    /* background-color: red; */
    /* margin-right: 850px; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: x-large;
}